
/* loading-animation */

.fl-loading-ani {
	align-content: center;
}

.fl-loading-ani-curtains::before,
.fl-loading-ani-curtains::after {
	background-color: var(--white);
}

/* the-end-of-loading-animation */



/* header */

.fl-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 18;
}

/* the-end-of-header */



/* navbar */

.fl-navbar {
	background-color: var(--whiteWithOpacity);
	padding: 0 1.6rem 1.6rem;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 1.6rem !important;
}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 150px;
}

@media only screen and (min-width: 576px) {

	.fl-navbar-brand {
		width: 200px !important;
	}

}

/* the-end-of-navbar-brand */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-navbar-nav {
		margin-left: auto;
	}

	.fl-nav-item:not(:first-child) {
		margin-left: 1.7rem;
	}

	.fl-nav-link {
		color: var(--darkgrey);
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.fl-nav-link:hover {
		color: var(--blue);
	}

	.fl-nav-item-dropdown:hover .fl-nav-link {
		color: var(--blue);
	}

	.fl-nav-link:active,
	.fl-nav-link.fl-active {
		color: var(--blue);
	}

	.fl-nav-link-icon {
		font-size: 8px !important;
		margin-left: 1.5px;
		position: relative;
		bottom: 2px;
	}

	.fl-nav-item-dropdown:hover .fl-nav-link-icon {
		bottom: 0;
	}

	.fl-dropdown-menu-con {
		min-width: 180px;
		top: 1.3rem !important;
		visibility: visible;
		opacity: 1;
		transition-property: max-height;
		transition-duration: .5s;
		max-height: 0;
		overflow: hidden;
	}

	.fl-nav-item-dropdown:hover .fl-dropdown-menu-con {
		max-height: 500px;
	}

	.fl-dropdown-menu {
		background-color: var(--blackWithOpacity);
		padding: 9px 0;
		border-radius: 0;
	}

	.fl-dropdown-menu-link {
		color: var(--lightgrey);
		background-color: transparent !important;
		font-size: 12px;
		padding: 9px 1.2rem;
		text-align: left;
		font-weight: bold;
		text-indent: 0;
		transition: text-indent .3s, color .3s;
		position: relative;
	}

	.fl-dropdown-menu-link:hover {
		text-indent: 8px;
		color: var(--blue);
	}

	.fl-dropdown-menu-link::after {
		content: "";
		position: absolute;
		top: 14px;
		right: .8rem;
		border: solid var(--lightgrey);
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 2.2px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transition: border-color .3s;
	}

	.fl-dropdown-menu-link:hover::after {
		border-color: var(--blue);
	}

}	

/* the-end-of-navbar-nav */



/* navbar-toggler */

@media only screen and (max-width: 991px) {

	.fl-navbar-toggler {
		border-radius: 0;
		background-color: var(--blue);
		width: 47px;
		height: 37px;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 20px;
	    height: 2px;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
	    top: -5px;
	}   

	.fl-navbar-toggler-line::after {
		top: 5px;
	}

}

/* the-end-of-navbar-toggler */	



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu {
		display: block;
		position: absolute;
		top: 100% !important;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0 1rem;
		background-color: var(--whiteWithOpacity);
		transition: max-height .8s;
		max-height: 0;
		overflow: auto;
		z-index: 14;
	}

	.fl-md-menu.fl-show { 
		max-height: 80vh;
	}

	.fl-md-menu-link {
		background-color: white;
		color: var(--darkgrey);
		padding: .8rem 1.2rem;
		text-align: left;
		font-size: 12px;	
	}

	@media (hover: hover) {
		.fl-md-menu-link:hover {
			color: var(--blue);
		}
	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-link:active {
		color: var(--blue);
	}

	.fl-md-menu-item:not(:last-child) .fl-md-menu-link,
	.fl-md-menu-dropdown-menu-item:not(:last-child) .fl-md-menu-dropdown-menu-link {
		border-bottom: 2px solid var(--white);
	}

	.fl-md-menu-link-icon {
		border-left: 2px solid var(--white);
		width: 60px;
		-webkit-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		transform: rotate(0deg) !important;
	}

	.fl-md-menu-dropdown-menu-item {
		margin-top: 0;
	}

	.fl-md-menu-dropdown-menu-link {
		color: #bfcfd2;
		padding: .8rem 1.2rem .8rem 2.5rem;
		font-size: 12px;
		text-align: left;
	}

	@media (hover: hover) {
		.fl-md-menu-dropdown-menu-link:hover {
			color: var(--blue);
		}
	}	

	.fl-md-menu-dropdown-menu-link:active {
		color: var(--blue);
	}	


}

/* the-end-of-md-menu */



/* choose-languages */	

.choose-languages {
	position: fixed;
	top: 215px;
	left: 0;
	z-index: 16;
}

.choose-languages-toggler {
	color: grey;
	background-color: var(--white);
	font-size: 30px;
	padding: .6rem 1rem;
	cursor: pointer;
}

.choose-languages .fl-dropdown-item {
	margin-top: 10px;
	width: 48%;
}

.choose-languages .fl-dropdown-item:first-child,
.choose-languages .fl-dropdown-item:nth-child(2) {
	margin-top: 0
}

.choose-languages .fl-dropdown-list {
	background-color: var(--white);
	padding: 1rem;
}

.choose-languages .fl-dropdown-link {
	background-color: var(--blue);
}

/* the-end-of-choose-languages */



/* buy */

.buy {
	position: fixed;
	top: calc(245px + 4vw);
	right: 0;
	background-color: var(--white);
	padding: .6rem 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 16;
}

.buy-text {
	position: absolute;
	right: 140%;
	background-color: var(--white);
	color: var(--green2);
	top: 0.6rem;
	padding: 0 1rem;
	width: 150px;
	text-align: center;
	box-shadow: .5px .5px 10px lightgrey;
	transition: top .3s, opacity .3s, visible .3s, right .3s;
	visibility: hidden;
	opacity: 0;
	height: 50px;
	line-height: 50px;
}

.buy:hover .buy-text {
	visibility: visible;
	opacity: 1;
	right: 100%;
}

.buy-link {
	height: 50px;
	line-height: 50px;
	padding: 0 .7rem;
	font-size: 30px;
	display: block;
}

/* the-end-of-buy */



/* counter */

.counter-section {
	background-color: var(--blue);
	padding-bottom: 2rem;
}

.counter-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.counter-item {
	margin-top: 2rem;
	text-align: center;
	width: 100%;
	color: white;
}

.counter-number {
	margin: 0;
	font-size: 45px;
	position: relative;
}

.counter-number::before {
	content: " ";
	position: absolute;
	width: 40px;
	height: 1.7px;
	background-color: var(--white);
	left: calc(50% - 20px);
	bottom: -.5rem;
}

.counter-description {
	margin: 1.3rem 0 0;
}

.counter {

}

.counter {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
	
	.counter-item {
		width: 50%;
	}

}

@media (min-width: 992px) {
	
	.counter-item {
		width: 25%;
	}

}

/* the-end-of-counter */



